@model MvcTemplate.Web.ViewModels.Home.BookReadViewModel
@{
    ViewBag.Title = "ById";
}

    <div>
        <h2>@Model.Title</h2>
            <h3>
                @foreach (var author in Model.Authors)
                {
                    <span>@author.Name</span>
                }
            </h3>
        <p>
            @Model.Content
        </p>
    </div>

