@model MvcTemplate.Web.ViewModels.Home.BookViewModel
@{
    ViewBag.Title = "ById";
}

    <div>
        <h2>@Model.Title</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Ac turpis egestas integer eget aliquet nibh praesent. Est lorem ipsum dolor sit amet consectetur. Malesuada proin libero nunc consequat. Sapien nec sagittis aliquam malesuada bibendum. Accumsan tortor posuere ac ut consequat semper viverra nam libero. Nulla aliquet porttitor lacus luctus accumsan tortor. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Egestas sed sed risus pretium quam vulputate dignissim. Enim blandit volutpat maecenas volutpat blandit aliquam. Scelerisque viverra mauris in aliquam. Dui accumsan sit amet nulla facilisi. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Sed augue lacus viverra vitae congue eu consequat ac. Augue lacus viverra vitae congue eu. Condimentum vitae sapien pellentesque habitant. Tellus in hac habitasse platea dictumst. Fringilla phasellus faucibus scelerisque eleifend donec pretium.

            Nibh ipsum consequat nisl vel. Ipsum nunc aliquet bibendum enim. Purus gravida quis blandit turpis cursus in hac. Vestibulum sed arcu non odio euismod lacinia at. Mollis nunc sed id semper risus in. Massa tincidunt nunc pulvinar sapien et. Adipiscing elit pellentesque habitant morbi. Proin libero nunc consequat interdum varius sit amet mattis vulputate. Lacus sed turpis tincidunt id aliquet risus feugiat. Tempus quam pellentesque nec nam.

            Non arcu risus quis varius quam quisque. Egestas sed tempus urna et pharetra pharetra massa. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Lobortis elementum nibh tellus molestie. Viverra justo nec ultrices dui sapien eget mi proin. Proin nibh nisl condimentum id venenatis a. Velit dignissim sodales ut eu. Rhoncus est pellentesque elit ullamcorper dignissim cras. Tempor nec feugiat nisl pretium. Fringilla ut morbi tincidunt augue interdum velit euismod in. Phasellus egestas tellus rutrum tellus pellentesque. Venenatis cras sed felis eget. Dui accumsan sit amet nulla facilisi morbi. Non arcu risus quis varius quam quisque id diam vel. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Non consectetur a erat nam at.

            Ipsum faucibus vitae aliquet nec ullamcorper. Ac turpis egestas maecenas pharetra. Eget sit amet tellus cras adipiscing. Elit ut aliquam purus sit amet luctus venenatis. Quam pellentesque nec nam aliquam sem. Turpis egestas pretium aenean pharetra magna ac. Nullam non nisi est sit amet facilisis magna etiam tempor. Quam id leo in vitae. Eu sem integer vitae justo eget magna fermentum iaculis eu. Est ultricies integer quis auctor elit sed vulputate mi sit.

            Fermentum et sollicitudin ac orci phasellus egestas tellus. A pellentesque sit amet porttitor eget dolor morbi. Ligula ullamcorper malesuada proin libero. Nunc mattis enim ut tellus elementum sagittis vitae. Elit at imperdiet dui accumsan sit. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Ornare suspendisse sed nisi lacus. Pulvinar mattis nunc sed blandit libero volutpat sed. Sed vulputate odio ut enim blandit volutpat maecenas. Pharetra vel turpis nunc eget. Consectetur adipiscing elit ut aliquam. Auctor urna nunc id cursus metus aliquam eleifend mi. Elit ut aliquam purus sit. Consectetur adipiscing elit duis tristique. Vel facilisis volutpat est velit. Fusce id velit ut tortor pretium viverra suspendisse potenti. Pulvinar etiam non quam lacus suspendisse faucibus.
        </p>
    </div>

