@model MvcTemplate.Web.ViewModels.Home.BookReadViewModel
@{
    ViewBag.Title = "ById";
}

    <div>
        <h2>@Model.Title</h2>
        <h3>@Model.Author</h3>
        <p>
            @Model.Content
        </p>
    </div>

