@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewBag.Title = "Home Page";
}

    <h1>Books</h1>

<div class="row">
    @foreach (var book in Model.Books)
    {
    <div class="col-md-2">
        <strong>Title:</strong>  @book.Title
        <div><strong>Category:</strong> @book.Category</div>
        <div><strong>Author:</strong> @book.Author</div>
        <hr />
    </div>
    }
</div>

<h1>Categories</h1>

<div class="row">
    @foreach (var category in Model.BookCategories)
    {
        <div class="col-md-2">
            @category.Name
        </div>
    }
</div>