@model IEnumerable<MvcTemplate.Web.ViewModels.Home.BookViewModel>
@{
    this.ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var book in Model)
    {
        <div class = "col-md-4">
            @book.Content
        </div>
    }
</div>