<h2>Book Upload</h2>
@using (Html.BeginForm("UploadBook",
                        "Upload",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload .epub file:</label>
    <input type="file" name="file" id="file"/>
    <br>
    <br>

    <input type="submit" value="Upload File" />

    <br>
    <br>

    @ViewBag.Message
}
